
#app {
	min-height: 1000px;
}
#main {
	width: 58%;
    //border: 1px solid red;
    float: left;
    min-height: 1000px;
}
#left-bar {
	float: left;
    width: 23%;
    margin-right: 0.5%;
    //border: 1px solid #ccc;
}
#right-bar {
	float: right;
    width: 23%;
    margin-left: 0;
    //border: 1px solid #ccc;
}

.adv {
	height: 15em;
    width: 100%;
}
.main-list {
	list-style: none;
    margin: 0;
    padding: 0;
}
#left-bar ul,
#right-bar ul {
	list-style: none;
    padding: 0;
    margin: 0;
}

.clear:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}

#main .main-list li {
	border-bottom: 1px solid #ccc;
    padding: 0.7em;
}
#main .main-list li div {
	width: 140px;
    height: 140px;
    overflow: hidden;
}
#main .main-list li div > img {
	width: 130%;
}
#main .main-list li div + h2 {
	font-size: 1.0em;
    width: 70%;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background: skyblue;
}

.tag-group {
	margin-bottom: 2em;
}
.tag-group .tag-control {
	display: inline;
    width: 80%;
}
.tag-group .tag-control + .add-btn {
	display: none;
    width: auto;
    //float: right;
    border: 1px solid #aaa;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.3em 0.5em;
    background: #fdfcfc;
}
.tag-area {
	margin-top: 0.8em;
    width: 170%;
    //border: 1px solid red;
}
.tag-area span {
	display: inline-block;
	margin-right: 0.5em;
    word-wrap: break-word;
    margin-bottom: 0.8em;
}
.tag-area em {
	border: 1px solid #ccc;
    background: linen;
    padding: 0.3em 0.6em;
    border-radius: 2px;
    font-style: normal;
    text-align: center;
}
.tag-area em + .fa { /* xマーク */
	display: inline-block;
    font-size: 0.8em;
	width: 1.8em;
    height: 1.8em;
    line-height: 1.7em;
    text-align: center;
    margin-left: 0.2em;
    //padding: 0.3em;
    border: 1px solid #aaa;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: top;
}

.mp-edit .panel-body,
.mp-create .panel-body {
	min-height: 2000px;
}

textarea {
	min-height: 20em;
}

.add-item {
	//border: 1px solid red;
}
.add-item section {
	border: 1px solid #ccc;
    position: relative;
}
.add-item section:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.add-item > .ctrl-nav:first-of-type {
	display: none;
}
.item-form {
	//border: 1px solid red;
    clear: both;
}
.ctrl-nav {
	display: inline-block;
    list-style: none;
    float: right;
    //width: 40%;
    position: absolute;
    top: 0;
    right: 0;
    //margin-top: -2em;
    //border: 1px solid red;
}
.ctrl-nav:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.ctrl-nav li {
	float: left;
    margin-right: 0.6em;
    cursor: pointer;
    border: 1px solid #aaa;
    border-radius: 0.2em;
}
.item-panel {
	width: 100%;
    //border: 1px solid blue;
    margin-bottom: 2em;
    //position: relative;
}
.item-btn ul {
	border: 1px solid #aaa;
    list-style: none;
    background: #fdfcfc;
}
.item-btn li {
	float: left;
    margin-right: 3em;
    cursor: pointer;
}

.item-panel button {
	display: block;
    margin-top: 0.8em;
}
.item-panel input,
.item-panel textarea {
	display: block;
    width: 65%;
}

/*.first-panel .add-nav {*/
/*	display: none;*/
/*}*/
/*.first-panel .item-btn {*/
/*	display: block;*/
/*}*/

.visible-none {
	display: none;
}

.add-nav {
	border: 1px dashed #aaa;
    margin-top: 1em;
    border-radius: 0.5em;
    padding: 0.5em 0;
}
.add-nav em {
	cursor: pointer;
}

.item-btn {
	display: none;
}
.item-title,
.item-text,
.item-image,
.item-link {
	display: none;
    position: relative;
    width: 100%;
    background: #eceaea;
    padding: 1em;
    z-index: 9999;
}
.item-link {
	min-height: 35em;
}
.item-link label {
	display: block;
}
.item-link input[type="text"] {
	display: inline-block;
}
.item-link .subm-check {
	display: inline-block;
}
.link-frame {
	display: block;
    width: 75%;
    min-height: 23em;
}

.linkimg-wrap {
	overflow: hidden;
    position: relative;
    height: 150px;
}
.linkimg-wrap img {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 80%;
}
.linkimg-wrap img:first-of-type {
	display: block;
}
.linksel-wrap {

}
.linksel-wrap span {
	border: 1px solid #aaa;
    padding: 0.5em;
    cursor: pointer;
}
.linksel-wrap small {
	font-size: 1.2em;
}
.linksel-wrap small em {
	font-style: normal;
}


.add-item h1 {
	font-weight: bold;
    //font-size: 1.8em;
}
.add-item h2 {
	font-weight: normal;
    //font-size: 1.2em;
}


.single .rv-content h1 {
	border-bottom: 2px solid #888;
}
.single .rv-content h2 {
	border-bottom: 1px solid #ccc;
}
.single .rv-content p {
	font-size: 1.1em;
    font-family: sans-serif;
}

#colop > div {
	min-height: 15em;
    background: #FFFEFF;
    border-top: 1px solid #efefef;
}
#colop > p {
	margin: 0;
    padding: 0;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
}
